/* line 48, ../sass/global.sass */
.z-1, #frame-109 .electron, #frame-110 .electron,
#frame-111 .electron, #frame-112 .electron {
  z-index: 1;
}

/* line 48, ../sass/global.sass */
.z-2, #frame-109 .basket, #frame-110 .basket,
#frame-111 .basket, #frame-112 .basket {
  z-index: 2;
}

/* line 48, ../sass/global.sass */
.z-3, #frame-108 .elem, #frame-114 .sketchpad-controls {
  z-index: 3;
}

/* line 48, ../sass/global.sass */
.z-4, #frame-301 .check-button, #frame-301 .back-button {
  z-index: 4;
}

/* line 48, ../sass/global.sass */
.z-5, #frame-117 .basket {
  z-index: 5;
}

/* line 48, ../sass/global.sass */
.z-6 {
  z-index: 6;
}

/* line 48, ../sass/global.sass */
.z-7 {
  z-index: 7;
}

/* line 48, ../sass/global.sass */
.z-8, #frame-109 .true-false, #frame-110 .true-false,
#frame-111 .true-false, #frame-112 .true-false {
  z-index: 8;
}

/* line 48, ../sass/global.sass */
.z-9 {
  z-index: 9;
}

/* line 48, ../sass/global.sass */
.z-10 {
  z-index: 10;
}

/* line 48, ../sass/global.sass */
.z-11 {
  z-index: 11;
}

/* line 48, ../sass/global.sass */
.z-12 {
  z-index: 12;
}

/* line 48, ../sass/global.sass */
.z-13 {
  z-index: 13;
}

/* line 48, ../sass/global.sass */
.z-14 {
  z-index: 14;
}

/* line 48, ../sass/global.sass */
.z-15 {
  z-index: 15;
}

/* line 48, ../sass/global.sass */
.z-16 {
  z-index: 16;
}

/* line 48, ../sass/global.sass */
.z-17 {
  z-index: 17;
}

/* line 48, ../sass/global.sass */
.z-18 {
  z-index: 18;
}

/* line 48, ../sass/global.sass */
.z-19 {
  z-index: 19;
}

/* line 48, ../sass/global.sass */
.z-20 {
  z-index: 20;
}

/* line 51, ../sass/global.sass */
.black-skin {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: black;
  opacity: 0.7;
  z-index: 10;
}

/* line 59, ../sass/global.sass */
.next-button, .start-button, .correct, .keep-thinking, .result {
  border-radius: 50%;
  z-index: 11;
  width: 20%;
  height: 40%;
  position: absolute;
  left: 40%;
  top: 30%;
  background-color: white;
  color: black;
  font-size: 3vmax;
  text-align: center;
  padding-top: 8.5%;
}

/* line 73, ../sass/global.sass */
.next-button:hover, .start-button:hover, .result:hover {
  color: white;
  background-color: black;
}

/* line 77, ../sass/global.sass */
.absolute-max, #main, .frame, #frame-000 .planes-animated, #frame-101 .bg-1, #frame-101 .bg-2, #frame-101 .bg-3, #frame-103 .bg-1, #frame-103 .bg-2, #frame-104 .bg, #frame-105 .bg-1, #frame-105 .bg-2, #frame-105 .bg-3, #frame-105 .bg-4, #frame-105 .scheme, #frame-106 .bg, #frame-106 .el, #frame-107 .bg, #frame-107 .anim, #frame-107 .roll, #frame-108 .bg, #frame-109 .bg, #frame-110 .bg,
#frame-111 .bg, #frame-112 .bg, #frame-109 .electron, #frame-110 .electron,
#frame-111 .electron, #frame-112 .electron, #frame-109 .true-false, #frame-110 .true-false,
#frame-111 .true-false, #frame-112 .true-false, #frame-114 .bg-base, #frame-115 .bg, #frame-116 .bg, #frame-116 .zoom-in, #frame-116 .ai-o, #frame-117 .bg-base, #frame-118 .bg-base, #frame-119 .bg-base, #frame-119 .boy-1, #frame-119 .boy-2, #frame-201 .bg-base, #frame-202 .bg, #frame-202 .turbine, #frame-202 .plane-blink, #frame-301 .bg-base, #frame-301 .question-1, #frame-301 .answer {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

/* line 86, ../sass/global.sass */
.absolute, .menu-buttons, #frame-000 .airports, #frame-000 .test, #frame-000 .research, #frame-000 .atom-1, #frame-000 .atom-2, #frame-103 .cloud, #frame-105 .bulb, #frame-107 .filling, #frame-107 .roll-button, #frame-107 .next-frame-button, #frame-108 .elem, #frame-109 .ball-container, #frame-110 .ball-container,
#frame-111 .ball-container, #frame-112 .ball-container, #frame-109 .basket, #frame-110 .basket,
#frame-111 .basket, #frame-112 .basket, #frame-109 .basket .point, #frame-110 .basket .point,
#frame-111 .basket .point, #frame-112 .basket .point, #frame-109 .new-element-button, #frame-110 .new-element-button,
#frame-111 .new-element-button, #frame-112 .new-element-button, #frame-114 .button-container, #frame-114 .arrow, #frame-114 .sketchpad-container, #frame-114 #responsive-sketchpad, #frame-114 .sketchpad-controls, #frame-114 .next-frame-button, #frame-114 .new-pic-button, #frame-115 .boy-thinking, #frame-115 .cloud, #frame-117 .label, #frame-117 .basket, #frame-117 .element, #frame-117 .arrow, #frame-117 .info, #frame-117 .timer, #frame-118 .plane, #frame-118 .plane-2, #frame-119 .bulb, #frame-201 .plane-button, #frame-202 .turbine-button, #frame-202 .question, #frame-202 .answer-1, #frame-202 .answer-2, #frame-202 .answer-3, #frame-202 .elname, #frame-202 .award, #frame-301 .check-button, #frame-301 .back-button {
  position: absolute;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

/* line 91, ../sass/global.sass */
.transition-2s {
  -ms-transition: all 2s;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
}

/* line 98, ../sass/global.sass */
.border-box, * {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

/* line 105, ../sass/global.sass */
* {
  font-family: Verdana;
}

/* line 110, ../sass/global.sass */
.blink-shadow {
  box-shadow: 0px 0px 10px 10px white;
  -moz-box-shadow: 0px 0px 10px 10px white;
  -o-box-shadow: 0px 0px 10px 10px white;
  -webkit-box-shadow: 0px 0px 10px 10px white;
  -ms-box-shadow: 0px 0px 10px 10px white;
}

/*PRE LOAD */
/* line 115, ../sass/global.sass */
#pre-load {
  background-color: gainsboro;
}

/* line 118, ../sass/global.sass */
#pre-load .pre-load-image {
  background-image: url(../pics/pre-loader.png);
  background-size: auto 100%;
  background-position: 0% 0%;
  width: 0%;
  height: 100%;
  position: absolute;
}

/*GLOBAL AND MENU */
/* line 128, ../sass/global.sass */
body {
  position: absolute;
  margin: 0%;
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
}

/* line 141, ../sass/global.sass */
.frame {
  -ms-transition: all 2s;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
  background-size: 100% 100%;
  overflow: hidden;
}

/*FRAM 000 (TITLE PAGE) */
/* line 149, ../sass/global.sass */
#frame-000 {
  background-image: url(../pics/s0-bg.png);
}

/* line 152, ../sass/global.sass */
.menu-buttons, #frame-000 .airports, #frame-000 .test, #frame-000 .research {
  font-size: 3vmax;
  color: white;
  padding: 1%;
  text-align: center;
  cursor: pointer;
}

/* line 160, ../sass/global.sass */
#frame-000 .airports {
  left: 31.2%;
  top: 22.7%;
  width: 42.3%;
  height: 12.4%;
  background-image: url(../pics/s0-airports-bg.png);
}

/* line 165, ../sass/global.sass */
#frame-000 .airports:hover {
  background-image: url(../pics/s0-airports-bg-hover.png);
}

/* line 168, ../sass/global.sass */
#frame-000 .test {
  left: 42.3%;
  top: 40.5%;
  width: 11.4%;
  height: 13.4%;
  background-image: url(../pics/s0-test-bg.png);
}

/* line 173, ../sass/global.sass */
#frame-000 .test:hover {
  background-image: url(../pics/s0-test-bg-hover.png);
  color: black;
}

/* line 177, ../sass/global.sass */
#frame-000 .research {
  left: 39.2%;
  top: 58.4%;
  width: 19.6%;
  height: 11.7%;
  background-image: url(../pics/s0-research-bg.png);
}

/* line 182, ../sass/global.sass */
#frame-000 .research:hover {
  background-image: url(../pics/s0-research-bg-hover.png);
  color: black;
}

/* line 186, ../sass/global.sass */
#frame-000 .atom-1 {
  left: 75.3%;
  top: 44.3%;
  width: 29.8%;
  height: 59.6%;
  background-image: url(../pics/s0-atom-1.png);
}

/* line 191, ../sass/global.sass */
#frame-000 .atom-2 {
  left: -3.4%;
  top: -3.5%;
  width: 24%;
  height: 47.8%;
  background-image: url(../pics/s0-atom-2.png);
}

/* line 196, ../sass/global.sass */
#frame-000 .planes-animated {
  background-image: url(../pics/s0-planes-animated.gif);
}

/*FRAME 101 */
/* line 202, ../sass/global.sass */
#frame-101 .bg-1 {
  background-image: url(../pics/s1-bg-1.png);
}

/* line 206, ../sass/global.sass */
#frame-101 .bg-2 {
  background-image: url(../pics/s1-bg-2.png);
}

/* line 210, ../sass/global.sass */
#frame-101 .bg-3 {
  background-image: url(../pics/s1-bg-3.png);
}

/*FRAME 102 */
/* line 216, ../sass/global.sass */
#frame-102 {
  background-image: url(../pics/s2-bg.png);
}

/* line 219, ../sass/global.sass */
#frame-102 .bor {
  background-image: url(../pics/s2-bor.png);
  background-size: 100% 100%;
  position: absolute;
  left: 55.25%;
  top: 21.1%;
  width: 36.3%;
  height: 57.2%;
}

/* line 228, ../sass/global.sass */
#frame-102 .bor-center {
  left: 32%;
  top: 21.1%;
  width: 36.3%;
  height: 57.2%;
}

/* line 234, ../sass/global.sass */
#frame-102 .proton {
  background-image: url(../pics/s2-proton.png);
}

/* line 237, ../sass/global.sass */
#frame-102 .neutron {
  background-image: url(../pics/s2-neutron.png);
}

/* line 240, ../sass/global.sass */
#frame-102 .number-five, #frame-102 .number-five-light {
  background-size: 100% 100%;
  position: absolute;
  left: 87.85%;
  top: 49.7%;
  width: 2.5%;
  height: 7.8%;
}

/* line 248, ../sass/global.sass */
#frame-102 .number-five {
  background-image: url(../pics/s2-number-five.png);
}

/* line 251, ../sass/global.sass */
#frame-102 .number-five-light {
  background-image: url(../pics/s2-number-five-light.png);
}

/* line 254, ../sass/global.sass */
#frame-102 .number-two, #frame-102 .number-two-light {
  background-size: 100% 100%;
  position: absolute;
  left: 57.3%;
  top: 57.5%;
  width: 2.6%;
  height: 7.8%;
}

/* line 262, ../sass/global.sass */
#frame-102 .number-two {
  background-image: url(../pics/s2-number-two.png);
}

/* line 265, ../sass/global.sass */
#frame-102 .number-two-light {
  background-image: url(../pics/s2-number-two-light.png);
}

/* line 268, ../sass/global.sass */
#frame-102 .number-three, #frame-102 .number-three-light {
  background-size: 100% 100%;
  position: absolute;
  left: 73.9%;
  top: 24.2%;
  width: 3.44%;
  height: 7.5%;
}

/* line 276, ../sass/global.sass */
#frame-102 .number-three {
  background-image: url(../pics/s2-number-three.png);
}

/* line 279, ../sass/global.sass */
#frame-102 .number-three-light {
  background-image: url(../pics/s2-number-three-light.png);
}

/* line 282, ../sass/global.sass */
#frame-102 .formula {
  background-image: url(../pics/s2-formula.png);
  background-size: 100% 100%;
  position: absolute;
  left: 55.6%;
  top: 81.3%;
  width: 13.9%;
  height: 6.1%;
}

/* line 291, ../sass/global.sass */
#frame-102 .formula-two {
  background-image: url(../pics/s2-formula-two.png);
  background-size: 100% 100%;
  position: absolute;
  left: 55.6%;
  top: 90.8%;
  width: 14.5%;
  height: 4.8%;
}

/* line 300, ../sass/global.sass */
#frame-102 .levels {
  background-image: url(../pics/s2-levels.png);
}

/* line 303, ../sass/global.sass */
#frame-102 .nucleus {
  background-image: url(../pics/s2-round.png);
}

/* line 306, ../sass/global.sass */
#frame-102 .two-electrons {
  background-image: url(../pics/s2-2-electrons.png);
}

/* line 309, ../sass/global.sass */
#frame-102 .three-electrons {
  background-image: url(../pics/s2-3-electrons.png);
}

/*FRAME 103 */
/* line 314, ../sass/global.sass */
#frame-103 {
  background-image: url(../pics/room-bg.png);
}

/* line 317, ../sass/global.sass */
#frame-103 .bg-1 {
  background-image: url(../pics/s3-bg-1.png);
}

/* line 321, ../sass/global.sass */
#frame-103 .bg-2 {
  background-image: url(../pics/s3-bg-2.png);
  -ms-transition: all 3s;
  -webkit-transition: all 3s;
  -moz-transition: all 3s;
  -o-transition: all 3s;
  transition: all 3s;
  background-size: 400%;
  background-position: 45% 40%;
}

/* line 328, ../sass/global.sass */
#frame-103 .cloud {
  background-image: url(../pics/cloud.png);
  background-size: 100% 100%;
  left: 51.9%;
  top: 2.7%;
  width: 46.45%;
  height: 65.3%;
  font-size: 2vmax;
  color: black;
  padding-left: 10%;
  padding-right: 5%;
  padding-top: 10%;
}

/*FRAME 104 */
/* line 341, ../sass/global.sass */
#frame-104 .bg {
  background-image: url(../pics/s4-bg.png);
}

/*FRAME 105 */
/* line 347, ../sass/global.sass */
#frame-105 .bg-1 {
  background-image: url(../pics/s3-bg-1.png);
}

/* line 351, ../sass/global.sass */
#frame-105 .bg-2 {
  background-image: url(../pics/s3-bg-2.png);
}

/* line 355, ../sass/global.sass */
#frame-105 .bg-3 {
  background-image: url(../pics/s5-bg-2.png);
}

/* line 359, ../sass/global.sass */
#frame-105 .bg-4 {
  background-image: url(../pics/s5-scheme-bg.png);
}

/* line 363, ../sass/global.sass */
#frame-105 .bulb {
  left: 54.4%;
  top: 1.8%;
  width: 16%;
  height: 29.2%;
  background-image: url(../pics/bulb.png);
}

/* line 368, ../sass/global.sass */
#frame-105 .scheme {
  background-image: url(../pics/s5-scheme.png);
  background-size: 600% 100%;
}

/*FRAME 106 */
/* line 375, ../sass/global.sass */
#frame-106 .bg {
  background-image: url(../pics/s6-bg.png);
}

/* line 383, ../sass/global.sass */
#frame-106 .el-1 {
  background-image: url(../pics/s6-1.png);
}

/* line 383, ../sass/global.sass */
#frame-106 .el-2 {
  background-image: url(../pics/s6-2.png);
}

/* line 383, ../sass/global.sass */
#frame-106 .el-3 {
  background-image: url(../pics/s6-3.png);
}

/* line 383, ../sass/global.sass */
#frame-106 .el-4 {
  background-image: url(../pics/s6-4.png);
}

/* line 383, ../sass/global.sass */
#frame-106 .el-5 {
  background-image: url(../pics/s6-5.png);
}

/*FRAME 107 */
/* line 388, ../sass/global.sass */
#frame-107 .bg {
  background-image: url(../pics/s7-bg.png);
}

/* line 396, ../sass/global.sass */
#frame-107 .anim-1 {
  background-image: url(../pics/s7-anim-1.png);
}

/* line 396, ../sass/global.sass */
#frame-107 .anim-2 {
  background-image: url(../pics/s7-anim-2.png);
}

/* line 396, ../sass/global.sass */
#frame-107 .anim-3 {
  background-image: url(../pics/s7-anim-3.png);
}

/* line 396, ../sass/global.sass */
#frame-107 .anim-4 {
  background-image: url(../pics/s7-anim-4.png);
}

/* line 396, ../sass/global.sass */
#frame-107 .anim-5 {
  background-image: url(../pics/s7-anim-5.png);
}

/* line 396, ../sass/global.sass */
#frame-107 .anim-6 {
  background-image: url(../pics/s7-anim-6.png);
}

/* line 396, ../sass/global.sass */
#frame-107 .anim-7 {
  background-image: url(../pics/s7-anim-7.png);
}

/* line 396, ../sass/global.sass */
#frame-107 .anim-8 {
  background-image: url(../pics/s7-anim-8.png);
}

/* line 396, ../sass/global.sass */
#frame-107 .anim-9 {
  background-image: url(../pics/s7-anim-9.png);
}

/* line 399, ../sass/global.sass */
#frame-107 .filling {
  background-image: url(../pics/s7-filling.gif);
  left: 16.9%;
  top: 34.2%;
  width: 43.3%;
  height: 61.4%;
  background-position: center;
  background-size: 90%;
}

/* line 406, ../sass/global.sass */
#frame-107 .roll {
  background-image: url(../pics/s7-roll.png);
}

/* line 410, ../sass/global.sass */
#frame-107 .roll-button {
  left: 82.3%;
  top: 1.7%;
  width: 13.55%;
  height: 17.8%;
  background-image: url(../pics/s7-roll-button.png);
  cursor: pointer;
}

/* line 416, ../sass/global.sass */
#frame-107 .roll-button:hover {
  background-image: url(../pics/s7-roll-button-hover.png);
}

/* line 419, ../sass/global.sass */
#frame-107 .next-frame-button {
  left: 69.7%;
  top: 76%;
  width: 27.35%;
  height: 19.9%;
  background-image: url(../pics/s7-next-button.png);
  background-size: 200% 100%;
  font-size: 3vmax;
  padding: 3%;
  color: white;
}

/* line 429, ../sass/global.sass */
#frame-107 .next-frame-button:hover {
  background-position: 100% 0%;
}

/*FRAME 108 */
/* line 434, ../sass/global.sass */
#frame-108 .bg {
  background-image: url(../pics/s2-bg.png);
}

/* line 438, ../sass/global.sass */
#frame-108 .elem {
  border-radius: 10px;
}

/* line 443, ../sass/global.sass */
#frame-108 .elem:hover {
  box-shadow: 0px 0px 10px 10px gray;
  -moz-box-shadow: 0px 0px 10px 10px gray;
  -o-box-shadow: 0px 0px 10px 10px gray;
  -webkit-box-shadow: 0px 0px 10px 10px gray;
  -ms-box-shadow: 0px 0px 10px 10px gray;
}

/* line 446, ../sass/global.sass */
#frame-108 .Ca {
  left: 14.3%;
  top: 50.9%;
  width: 36.3%;
  height: 44.2%;
  background-image: url(../pics/s8-Ca.png);
}

/* line 450, ../sass/global.sass */
#frame-108 .Li {
  left: 14.3%;
  top: 4.6%;
  width: 36.3%;
  height: 44.2%;
  background-image: url(../pics/s8-Li.png);
}

/* line 454, ../sass/global.sass */
#frame-108 .O {
  left: 52.1%;
  top: 50.9%;
  width: 36.3%;
  height: 44.2%;
  background-image: url(../pics/s8-O.png);
}

/* line 458, ../sass/global.sass */
#frame-108 .Cl {
  left: 52.1%;
  top: 4.6%;
  width: 36.3%;
  height: 44.2%;
  background-image: url(../pics/s8-Cl.png);
}

/* line 462, ../sass/global.sass */
#frame-108 .keep-thinking {
  padding-top: 6%;
}

/*FRAME 109 */
/* line 471, ../sass/global.sass */
#frame-109 .bg-base, #frame-110 .bg-base,
#frame-111 .bg-base, #frame-112 .bg-base {
  background-image: url(../pics/s9-bg.png);
}

/* line 480, ../sass/global.sass */
#frame-109 .s1, #frame-110 .s1,
#frame-111 .s1, #frame-112 .s1 {
  background-image: url(../pics/s9-1s.png);
}

/* line 484, ../sass/global.sass */
#frame-109 .s2, #frame-110 .s2,
#frame-111 .s2, #frame-112 .s2 {
  background-image: url(../pics/s9-2s.png);
}

/* line 488, ../sass/global.sass */
#frame-109 .s3, #frame-110 .s3,
#frame-111 .s3, #frame-112 .s3 {
  background-image: url(../pics/s9-3s.png);
}

/* line 492, ../sass/global.sass */
#frame-109 .s4, #frame-110 .s4,
#frame-111 .s4, #frame-112 .s4 {
  background-image: url(../pics/s9-4s.png);
}

/* line 496, ../sass/global.sass */
#frame-109 .p2, #frame-110 .p2,
#frame-111 .p2, #frame-112 .p2 {
  background-image: url(../pics/s9-2p.png);
}

/* line 500, ../sass/global.sass */
#frame-109 .p3, #frame-110 .p3,
#frame-111 .p3, #frame-112 .p3 {
  background-image: url(../pics/s9-3p.png);
}

/* line 504, ../sass/global.sass */
#frame-109 .bg-ca {
  background-image: url(../pics/s9-bg-ca.png);
}

/* line 507, ../sass/global.sass */
#frame-110 .bg-li {
  background-image: url(../pics/s9-bg-li.png);
}

/* line 510, ../sass/global.sass */
#frame-111 .bg-o {
  background-image: url(../pics/s9-bg-o.png);
}

/* line 513, ../sass/global.sass */
#frame-112 .bg-cl {
  background-image: url(../pics/s9-bg-cl.png);
}

/*GET BACK HERE */
/* line 518, ../sass/global.sass */
#frame-109 .ball-container, #frame-110 .ball-container,
#frame-111 .ball-container, #frame-112 .ball-container {
  left: 81.1%;
  top: 5.9%;
  width: 17%;
  height: 20.8%;
  background-color: #3e8848;
  border: 3px solid black;
}

/* line 525, ../sass/global.sass */
#frame-109 .ball-container .ball, #frame-110 .ball-container .ball,
#frame-111 .ball-container .ball, #frame-112 .ball-container .ball {
  width: 50%;
  height: 100%;
  float: left;
  background-position: center;
  background-repeat: no-repeat;
}

/* line 533, ../sass/global.sass */
#frame-109 .ball-up, #frame-110 .ball-up,
#frame-111 .ball-up, #frame-112 .ball-up {
  background-image: url(../pics/s9-plane.png);
}

/* line 537, ../sass/global.sass */
#frame-109 .ball-container .ball-up:hover,
#frame-110 .ball-container .ball-up:hover,
#frame-111 .ball-container .ball-up:hover,
#frame-112 .ball-container .ball-up:hover {
  background-image: url(../pics/s9-plane.png), url(../pics/s9-plane-light.png);
}

/* line 543, ../sass/global.sass */
#frame-109 .ball-container .ball-down:hover,
#frame-110 .ball-container .ball-down:hover,
#frame-111 .ball-container .ball-down:hover,
#frame-112 .ball-container .ball-down:hover {
  background-image: url(../pics/s9-plane-down.png), url(../pics/s9-plane-down-light.png);
}

/* line 549, ../sass/global.sass */
#frame-109 .ball-down, #frame-110 .ball-down,
#frame-111 .ball-down, #frame-112 .ball-down {
  background-image: url(../pics/s9-plane-down.png);
}

/* line 558, ../sass/global.sass */
#frame-109 .basket .point, #frame-110 .basket .point,
#frame-111 .basket .point, #frame-112 .basket .point {
  left: 45%;
  top: 55%;
  width: 50%;
  height: 40%;
  background-image: url(../pics/s9-point.png);
  background-position: center;
  background-size: 50% 100%;
  z-index: 5;
}

/* line 567, ../sass/global.sass */
#frame-109 .basket .ball, #frame-110 .basket .ball,
#frame-111 .basket .ball, #frame-112 .basket .ball {
  width: 50%;
  height: 100%;
  float: left;
  background-position: center;
  background-repeat: no-repeat;
}

/* line 575, ../sass/global.sass */
#frame-109 .basket-1s, #frame-110 .basket-1s,
#frame-111 .basket-1s, #frame-112 .basket-1s {
  left: 44.65%;
  top: 0%;
  width: 13.9%;
  height: 15.4%;
}

/* line 579, ../sass/global.sass */
#frame-109 .basket-2s, #frame-110 .basket-2s,
#frame-111 .basket-2s, #frame-112 .basket-2s {
  left: 44.75%;
  top: 16.5%;
  width: 13.75%;
  height: 16.2%;
}

/* line 583, ../sass/global.sass */
#frame-109 .basket-2p-1, #frame-110 .basket-2p-1,
#frame-111 .basket-2p-1, #frame-112 .basket-2p-1 {
  left: 44.75%;
  top: 32.8%;
  width: 13.9%;
  height: 16.3%;
}

/* line 587, ../sass/global.sass */
#frame-109 .basket-2p-2, #frame-110 .basket-2p-2,
#frame-111 .basket-2p-2, #frame-112 .basket-2p-2 {
  left: 58.7%;
  top: 32.8%;
  width: 13.9%;
  height: 16.2%;
}

/* line 591, ../sass/global.sass */
#frame-109 .basket-2p-3, #frame-110 .basket-2p-3,
#frame-111 .basket-2p-3, #frame-112 .basket-2p-3 {
  left: 72.55%;
  top: 32.9%;
  width: 14.0%;
  height: 16.1%;
}

/* line 595, ../sass/global.sass */
#frame-109 .basket-3s, #frame-110 .basket-3s,
#frame-111 .basket-3s, #frame-112 .basket-3s {
  left: 44.65%;
  top: 50%;
  width: 13.9%;
  height: 16.4%;
}

/* line 599, ../sass/global.sass */
#frame-109 .basket-3p-1, #frame-110 .basket-3p-1,
#frame-111 .basket-3p-1, #frame-112 .basket-3p-1 {
  left: 44.75%;
  top: 66.3%;
  width: 13.8%;
  height: 16.3%;
}

/* line 603, ../sass/global.sass */
#frame-109 .basket-3p-2, #frame-110 .basket-3p-2,
#frame-111 .basket-3p-2, #frame-112 .basket-3p-2 {
  left: 58.7%;
  top: 66.4%;
  width: 13.9%;
  height: 16.1%;
}

/* line 607, ../sass/global.sass */
#frame-109 .basket-3p-3, #frame-110 .basket-3p-3,
#frame-111 .basket-3p-3, #frame-112 .basket-3p-3 {
  left: 72.55%;
  top: 66.3%;
  width: 13.95%;
  height: 16.2%;
}

/* line 611, ../sass/global.sass */
#frame-109 .basket-4s, #frame-110 .basket-4s,
#frame-111 .basket-4s, #frame-112 .basket-4s {
  left: 44.65%;
  top: 83.7%;
  width: 13.9%;
  height: 16.2%;
}

/* line 615, ../sass/global.sass */
#frame-109 .new-element-button, #frame-110 .new-element-button,
#frame-111 .new-element-button, #frame-112 .new-element-button {
  left: 57.3%;
  top: 71.6%;
  width: 31.3%;
  height: 13.1%;
  background-image: url(../pics/s9-new-element.png);
  font-size: 2vmax;
  color: white;
  padding: 2%;
}

/* line 624, ../sass/global.sass */
#frame-109 .new-element-button:hover, #frame-110 .new-element-button:hover,
#frame-111 .new-element-button:hover, #frame-112 .new-element-button:hover {
  background-image: url(../pics/s9-new-element-hover.png);
}

/* line 628, ../sass/global.sass */
#frame-109 .true-false, #frame-110 .true-false,
#frame-111 .true-false, #frame-112 .true-false {
  background-image: url(../pics/s9-true-false.png);
}

/*FRAME 114 */
/* line 636, ../sass/global.sass */
#frame-114 .bg-base {
  background-image: url(../pics/s14-bg.png);
}

/* line 640, ../sass/global.sass */
#frame-114 .button-container {
  left: 3.15%;
  top: 4.6%;
  width: 95.75%;
  height: 18%;
}

/* line 644, ../sass/global.sass */
#frame-114 .button-container .button {
  width: 12.5%;
  height: 100%;
  float: left;
}

/* line 649, ../sass/global.sass */
#frame-114 .button-container .button:hover {
  box-shadow: 0px 0px 5px 5px white;
  -moz-box-shadow: 0px 0px 5px 5px white;
  -o-box-shadow: 0px 0px 5px 5px white;
  -webkit-box-shadow: 0px 0px 5px 5px white;
  -ms-box-shadow: 0px 0px 5px 5px white;
}

/* line 655, ../sass/global.sass */
#frame-114 .be {
  left: 8%;
  top: 30.3%;
  width: 9.15%;
  height: 27.6%;
  background-image: url(../pics/s14-be.png);
}

/* line 659, ../sass/global.sass */
#frame-114 .c {
  left: 8%;
  top: 30.3%;
  width: 15.7%;
  height: 45%;
  background-image: url(../pics/s14-c.png);
}

/* line 663, ../sass/global.sass */
#frame-114 .f {
  left: 8%;
  top: 30.3%;
  width: 27.35%;
  height: 45%;
  background-image: url(../pics/s14-f.png);
}

/* line 667, ../sass/global.sass */
#frame-114 .b {
  left: 8%;
  top: 30.3%;
  width: 9.15%;
  height: 45%;
  background-image: url(../pics/s14-b.png);
}

/* line 671, ../sass/global.sass */
#frame-114 .li {
  left: 8%;
  top: 30.3%;
  width: 9.15%;
  height: 27.6%;
  background-image: url(../pics/s14-li.png);
}

/* line 675, ../sass/global.sass */
#frame-114 .n {
  left: 8%;
  top: 30.3%;
  width: 27.35%;
  height: 45%;
  background-image: url(../pics/s14-n.png);
}

/* line 679, ../sass/global.sass */
#frame-114 .ne {
  left: 8%;
  top: 30.3%;
  width: 32.35%;
  height: 45%;
  background-image: url(../pics/s14-ne.png);
}

/* line 683, ../sass/global.sass */
#frame-114 .o {
  left: 8%;
  top: 30.3%;
  width: 27.35%;
  height: 45%;
  background-image: url(../pics/s14-o.png);
}

/* line 687, ../sass/global.sass */
#frame-114 .sketchpad-container {
  left: 43.55%;
  top: 26.1%;
  width: 54.35%;
  height: 70.7%;
}

/* line 691, ../sass/global.sass */
#frame-114 #responsive-sketchpad {
  background-image: url(../pics/s14-area.png);
  background-size: 100% 100%;
}

/* line 696, ../sass/global.sass */
#frame-114 .sketchpad-controls {
  left: 43.55%;
  top: 26.1%;
  width: 27%;
  height: 5%;
}

/* line 701, ../sass/global.sass */
#frame-114 .sketch-control {
  float: left;
  width: 20%;
  height: 100%;
  text-align: center;
  font-size: 2vmax;
  cursor: pointer;
}

/* line 709, ../sass/global.sass */
#frame-114 .sketch-control:hover {
  font-size: 2.5vmax;
}

/* line 712, ../sass/global.sass */
#frame-114 .sketch-control#red {
  color: red;
}

/* line 715, ../sass/global.sass */
#frame-114 .sketch-control#blue {
  color: blue;
}

/* line 718, ../sass/global.sass */
#frame-114 .keep-thinking {
  padding-top: 7%;
  font-size: 2vmax;
}

/* line 722, ../sass/global.sass */
#frame-114 .next-frame-button {
  left: 62.5%;
  top: 87%;
  width: 19.3%;
  height: 10.3%;
  background-image: url(../pics/s9-next-button.png);
  font-size: 2.5vmax;
  color: white;
  padding: 1%;
  padding-left: 2%;
}

/* line 731, ../sass/global.sass */
#frame-114 .next-frame-button:hover {
  background-image: url(../pics/s9-next-button-hover.png);
}

/* line 734, ../sass/global.sass */
#frame-114 .new-pic-button {
  left: 57.3%;
  top: 71.6%;
  width: 31.3%;
  height: 13.1%;
  background-image: url(../pics/s9-new-element.png);
  font-size: 2vmax;
  color: white;
  padding: 2%;
}

/* line 742, ../sass/global.sass */
#frame-114 .new-pic-button:hover {
  background-image: url(../pics/s9-new-element-hover.png);
}

/*FRAME 115 */
/* line 747, ../sass/global.sass */
#frame-115 .bg {
  background-image: url(../pics/s1-bg-1.png);
}

/* line 751, ../sass/global.sass */
#frame-115 .boy-thinking {
  left: 30.95%;
  top: 14.2%;
  width: 36.45%;
  height: 85.8%;
  background-image: url(../pics/s15-boy-thinking.png);
}

/* line 756, ../sass/global.sass */
#frame-115 .cloud {
  left: 51.9%;
  top: 2.7%;
  width: 46.5%;
  height: 65.3%;
  background-image: url(../pics/s15-cloud.png);
  text-align: center;
  font-style: italic;
  font-size: 2vmax;
  padding: 4%;
  padding-top: 8%;
  padding-left: 10%;
}

/*FRAME 116 */
/* line 769, ../sass/global.sass */
#frame-116 .bg {
  background-image: url(../pics/s16-bg.png);
}

/* line 774, ../sass/global.sass */
#frame-116 .zoom-in {
  background-image: url(../pics/s16-zoom-in.png);
}

/* line 778, ../sass/global.sass */
#frame-116 .ai-o {
  background-image: url(../pics/s16-ai-o.png);
}

/*FRAME 117 */
/* line 784, ../sass/global.sass */
#frame-117 .bg-base {
  background-image: url(../pics/s9-bg.png);
}

/* line 788, ../sass/global.sass */
#frame-117 .label {
  background-image: url(../pics/s9-next-button-hover.png);
  font-size: 2vmax;
  padding: 2%;
  color: white;
  font-style: italic;
}

/* line 796, ../sass/global.sass */
#frame-117 .label-1 {
  left: 1.95%;
  top: 3%;
  width: 27.4%;
  height: 21.4%;
  font-weight: bold;
}

/* line 800, ../sass/global.sass */
#frame-117 .label-2 {
  left: 1.95%;
  top: 34.6%;
  width: 27.4%;
  height: 21.4%;
}

/* line 803, ../sass/global.sass */
#frame-117 .label-3 {
  left: 1.95%;
  top: 67.4%;
  width: 27.4%;
  height: 21.4%;
}

/* line 806, ../sass/global.sass */
#frame-117 .basket {
  background-image: url(../pics/s17-brown.png);
  padding: 1.5%;
  color: white;
  font-size: 1.8vmax;
}

/* line 814, ../sass/global.sass */
#frame-117 .basket-1 {
  left: 63%;
  top: 37.5%;
  width: 15.25%;
  height: 25%;
}

/* line 817, ../sass/global.sass */
#frame-117 .basket-2 {
  left: 35.55%;
  top: 37.5%;
  width: 15.25%;
  height: 25%;
}

/* line 820, ../sass/global.sass */
#frame-117 .basket-3 {
  left: 35.75%;
  top: 69.3%;
  width: 15.25%;
  height: 25%;
}

/* line 823, ../sass/global.sass */
#frame-117 .basket-4 {
  left: 63%;
  top: 69.3%;
  width: 15.25%;
  height: 25%;
}

/* line 829, ../sass/global.sass */
#frame-117 .element-1 {
  left: 35.45%;
  top: 10%;
  width: 14.95%;
  height: 18.6%;
}

/* line 832, ../sass/global.sass */
#frame-117 .element-2 {
  left: 62.3%;
  top: 10.2%;
  width: 14.95%;
  height: 18.6%;
}

/* line 835, ../sass/global.sass */
#frame-117 .pair-1.element-1 {
  background-image: url(../pics/s17-na.png);
}

/* line 838, ../sass/global.sass */
#frame-117 .pair-1.element-2 {
  background-image: url(../pics/s17-s.png);
}

/* line 841, ../sass/global.sass */
#frame-117 .pair-2.element-1 {
  background-image: url(../pics/s17-mg.png);
}

/* line 844, ../sass/global.sass */
#frame-117 .pair-2.element-2 {
  background-image: url(../pics/s17-p.png);
}

/* line 847, ../sass/global.sass */
#frame-117 .pair-3.element-1 {
  background-image: url(../pics/s17-al.png);
}

/* line 850, ../sass/global.sass */
#frame-117 .pair-3.element-2 {
  background-image: url(../pics/s17-o.png);
}

/* line 853, ../sass/global.sass */
#frame-117 .pair-4.element-1 {
  background-image: url(../pics/s17-c.png);
}

/* line 856, ../sass/global.sass */
#frame-117 .pair-4.element-2 {
  background-image: url(../pics/s17-o.png);
}

/* line 859, ../sass/global.sass */
#frame-117 .pair-5.element-1 {
  background-image: url(../pics/s17-n.png);
}

/* line 862, ../sass/global.sass */
#frame-117 .pair-5.element-2 {
  background-image: url(../pics/s17-o.png);
}

/* line 865, ../sass/global.sass */
#frame-117 .pair-6.element-1 {
  background-image: url(../pics/s17-o.png);
}

/* line 868, ../sass/global.sass */
#frame-117 .pair-6.element-2 {
  background-image: url(../pics/s17-f.png);
}

/* line 871, ../sass/global.sass */
#frame-117 .pair-7.element-1 {
  background-image: url(../pics/s17-k.png);
}

/* line 874, ../sass/global.sass */
#frame-117 .pair-7.element-2 {
  background-image: url(../pics/s17-p.png);
}

/* line 877, ../sass/global.sass */
#frame-117 .pair-8.element-1 {
  background-image: url(../pics/s17-li.png);
}

/* line 880, ../sass/global.sass */
#frame-117 .pair-8.element-2 {
  background-image: url(../pics/s17-cl.png);
}

/* line 883, ../sass/global.sass */
#frame-117 .pair-9.element-1 {
  background-image: url(../pics/s17-al.png);
}

/* line 886, ../sass/global.sass */
#frame-117 .pair-9.element-2 {
  background-image: url(../pics/s17-p.png);
}

/* line 889, ../sass/global.sass */
#frame-117 .pair-10.element-1 {
  background-image: url(../pics/s17-al.png);
}

/* line 892, ../sass/global.sass */
#frame-117 .pair-10.element-2 {
  background-image: url(../pics/s17-c.png);
}

/* line 898, ../sass/global.sass */
#frame-117 .up-arrow {
  background-image: url(../pics/s17-up.png);
}

/* line 901, ../sass/global.sass */
#frame-117 .up-arrow:hover {
  background-image: url(../pics/s17-up-hover.png);
}

/* line 904, ../sass/global.sass */
#frame-117 .down-arrow {
  background-image: url(../pics/s17-down.png);
}

/* line 907, ../sass/global.sass */
#frame-117 .down-arrow:hover {
  background-image: url(../pics/s17-down-hover.png);
}

/* line 910, ../sass/global.sass */
#frame-117 .up-arrow-1 {
  left: 57.3%;
  top: 34.2%;
  width: 2.59%;
  height: 3.59%;
}

/* line 913, ../sass/global.sass */
#frame-117 .down-arrow-1 {
  left: 57.3%;
  top: 37.9%;
  width: 2.6%;
  height: 3.6%;
}

/* line 916, ../sass/global.sass */
#frame-117 .up-arrow-2 {
  left: 84.6%;
  top: 34.7%;
  width: 2.59%;
  height: 3.59%;
}

/* line 919, ../sass/global.sass */
#frame-117 .down-arrow-2 {
  left: 84.6%;
  top: 38.4%;
  width: 2.59%;
  height: 3.6%;
}

/* line 922, ../sass/global.sass */
#frame-117 .up-arrow-3 {
  left: 57.3%;
  top: 89%;
  width: 2.6%;
  height: 3.59%;
}

/* line 925, ../sass/global.sass */
#frame-117 .down-arrow-3 {
  left: 57.3%;
  top: 92.7%;
  width: 2.6%;
  height: 3.59%;
}

/* line 928, ../sass/global.sass */
#frame-117 .up-arrow-4 {
  left: 84.6%;
  top: 89%;
  width: 2.6%;
  height: 3.59%;
}

/* line 931, ../sass/global.sass */
#frame-117 .down-arrow-4 {
  left: 84.6%;
  top: 92.7%;
  width: 2.6%;
  height: 3.59%;
}

/* line 934, ../sass/global.sass */
#frame-117 .info {
  background-image: url(../pics/s17-green.png);
  background-size: 100% 100%;
  padding: 1.5%;
  font-size: 1.8vmax;
  color: white;
}

/* line 942, ../sass/global.sass */
#frame-117 .charge-2 {
  left: 78.7%;
  top: 33.1%;
  width: 9%;
  height: 10.6%;
}

/* line 945, ../sass/global.sass */
#frame-117 .charge-1 {
  left: 51.45%;
  top: 32.6%;
  width: 9%;
  height: 10.6%;
}

/* line 948, ../sass/global.sass */
#frame-117 .index-2 {
  left: 78.7%;
  top: 87.4%;
  width: 9%;
  height: 10.6%;
}

/* line 951, ../sass/global.sass */
#frame-117 .index-1 {
  left: 51.45%;
  top: 87.4%;
  width: 9%;
  height: 10.6%;
}

/* line 954, ../sass/global.sass */
#frame-117 .keep-thinking {
  padding: 2%;
  padding-top: 6%;
  font-size: 2vmax;
}

/* line 959, ../sass/global.sass */
#frame-117 .result {
  padding: 2%;
  padding-top: 5%;
}

/* line 963, ../sass/global.sass */
#frame-117 .timer {
  left: 85%;
  top: 5.3%;
  width: 8.75%;
  height: 10%;
  border-radius: 10px;
  color: black;
  border: 3px solid red;
  background-color: white;
  padding: 0.5%;
  font-size: 2vmax;
  text-align: center;
}

/*FRAME 118 */
/* line 976, ../sass/global.sass */
#frame-118 .bg-base {
  background-image: url(../pics/s9-bg.png);
}

/* line 980, ../sass/global.sass */
#frame-118 .plane {
  left: 20%;
  top: 120%;
  width: 60%;
  height: 60%;
  background-image: url(../pics/s9-plane.png);
  background-position: center;
  -ms-transition: all 3s;
  -webkit-transition: all 3s;
  -moz-transition: all 3s;
  -o-transition: all 3s;
  transition: all 3s;
}

/* line 987, ../sass/global.sass */
#frame-118 .plane-2 {
  left: 80%;
  top: 0%;
  width: 20%;
  height: 20%;
  background-image: url(../pics/s9-plane.png);
  background-position: center;
}

/*FRAME 119 */
/* line 995, ../sass/global.sass */
#frame-119 .bg-base {
  background-image: url(../pics/s3-bg-1.png);
}

/* line 999, ../sass/global.sass */
#frame-119 .boy-1 {
  background-image: url(../pics/s3-bg-2.png);
}

/* line 1003, ../sass/global.sass */
#frame-119 .boy-2 {
  background-image: url(../pics/s5-bg-2.png);
}

/* line 1007, ../sass/global.sass */
#frame-119 .bulb {
  left: 54.4%;
  top: 1.8%;
  width: 16%;
  height: 29.2%;
  background-image: url(../pics/bulb.png);
}

/*TEST */
/* line 1014, ../sass/global.sass */
#frame-201 .bg-base {
  background-image: url(../pics/test-bg-1.png);
}

/* line 1018, ../sass/global.sass */
#frame-201 .plane-button {
  background-image: url(../pics/plane-button.png);
  left: 81.95%;
  top: 71.2%;
  width: 6.5%;
  height: 12.8%;
}

/* line 1023, ../sass/global.sass */
#frame-201 .plane-button:hover {
  background-image: url(../pics/plane-button-hover.png);
}

/* line 1026, ../sass/global.sass */
#frame-202 .bg {
  background-image: url(../pics/test-bg-2.png);
}

/* line 1030, ../sass/global.sass */
#frame-202 .turbine {
  background-image: url(../pics/test-turbine.gif);
}

/* line 1034, ../sass/global.sass */
#frame-202 .turbine-button {
  border-radius: 50%;
  cursor: pointer;
}

/* line 1039, ../sass/global.sass */
#frame-202 .turbine-button:hover {
  box-shadow: 0px 0px 5px 5px blue;
  -moz-box-shadow: 0px 0px 5px 5px blue;
  -o-box-shadow: 0px 0px 5px 5px blue;
  -webkit-box-shadow: 0px 0px 5px 5px blue;
  -ms-box-shadow: 0px 0px 5px 5px blue;
}

/* line 1042, ../sass/global.sass */
#frame-202 .turbine-button-left {
  left: 22.85%;
  top: 36.3%;
  width: 10.3%;
  height: 20.7%;
}

/* line 1045, ../sass/global.sass */
#frame-202 .turbine-button-right {
  left: 67.45%;
  top: 36.3%;
  width: 10.3%;
  height: 20.7%;
}

@-webkit-keyframes opacity {
  /* line 1059, ../sass/global.sass */
  0% {
    opacity: 0;
  }

  /* line 1061, ../sass/global.sass */
  50% {
    opacity: 1;
  }

  /* line 1063, ../sass/global.sass */
  100% {
    opacity: 0;
  }
}

@-moz-keyframes opacity {
  /* line 1059, ../sass/global.sass */
  0% {
    opacity: 0;
  }

  /* line 1061, ../sass/global.sass */
  50% {
    opacity: 1;
  }

  /* line 1063, ../sass/global.sass */
  100% {
    opacity: 0;
  }
}

@-ms-keyframes opacity {
  /* line 1059, ../sass/global.sass */
  0% {
    opacity: 0;
  }

  /* line 1061, ../sass/global.sass */
  50% {
    opacity: 1;
  }

  /* line 1063, ../sass/global.sass */
  100% {
    opacity: 0;
  }
}

@keyframes opacity {
  /* line 1059, ../sass/global.sass */
  0% {
    opacity: 0;
  }

  /* line 1061, ../sass/global.sass */
  50% {
    opacity: 1;
  }

  /* line 1063, ../sass/global.sass */
  100% {
    opacity: 0;
  }
}

/* line 1066, ../sass/global.sass */
#frame-202 .plane-blink {
  background-image: url(../pics/test-plane-blink.png);
  animation: opacity 3s infinite;
  -ms-animation: opacity 3s infinite;
  -webkit-animation: opacity 3s infinite;
}

/* line 1073, ../sass/global.sass */
#frame-202 .task {
  -ms-transition: all 2s;
  -webkit-transition: all 2s;
  -moz-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
}

/* line 1076, ../sass/global.sass */
#frame-202 .question {
  left: 2%;
  top: 56.4%;
  width: 94.3%;
  height: 31.2%;
  background-image: url(../pics/test-question-bg.png);
  padding: 2%;
  font-size: 2vmax;
  color: white;
}

/* line 1084, ../sass/global.sass */
#frame-202 .answer {
  padding: 3%;
  padding-top: 7%;
  padding-left: 5%;
  font-size: 2vmax;
}

/* line 1090, ../sass/global.sass */
#frame-202 .answer img {
  position: absolute;
  display: block;
  top: -100%;
}

/* line 1095, ../sass/global.sass */
#frame-202 .answer-1 {
  left: 2.2%;
  top: 75%;
  width: 24.3%;
  height: 22.2%;
  background-image: url(../pics/test-cloud-1.png);
}

/* line 1100, ../sass/global.sass */
#frame-202 .answer-1:hover {
  background-image: url(../pics/test-cloud-1-hover.png);
}

/* line 1103, ../sass/global.sass */
#frame-202 .answer-2 {
  left: 38.15%;
  top: 78.2%;
  width: 25.05%;
  height: 20.8%;
  background-image: url(../pics/test-cloud-2.png);
}

/* line 1108, ../sass/global.sass */
#frame-202 .answer-2:hover {
  background-image: url(../pics/test-cloud-2-hover.png);
}

/* line 1111, ../sass/global.sass */
#frame-202 .answer-3 {
  left: 74.8%;
  top: 73.1%;
  width: 23.9%;
  height: 25.9%;
  background-image: url(../pics/test-cloud-3.png);
}

/* line 1116, ../sass/global.sass */
#frame-202 .answer-3:hover {
  background-image: url(../pics/test-cloud-3-hover.png);
}

/* line 1119, ../sass/global.sass */
#frame-202 .elname {
  left: 45.8%;
  top: 34%;
  width: 9.6%;
  height: 19.2%;
  font-size: 3vmax;
  text-align: center;
  color: black;
  padding: 1%;
  padding-top: 2%;
  opacity: 0;
}

/* line 1129, ../sass/global.sass */
#frame-202 .award {
  left: 75.25%;
  top: 1.9%;
  width: 23.45%;
  height: 11.4%;
  background-image: url(../pics/test-award-bg.png);
}

/* line 1134, ../sass/global.sass */
#frame-202 .award .label {
  font-size: 2vmax;
  width: 50%;
  height: 100%;
  text-align: right;
  padding: 3%;
  padding-top: 5%;
  float: left;
}

/* line 1143, ../sass/global.sass */
#frame-202 .award .plane-pic {
  float: left;
  position: relative;
  width: 25%;
  height: 100%;
  background-image: url(../pics/s9-plane.png);
  background-size: 100% 100%;
}

/* line 1151, ../sass/global.sass */
#frame-202 .result {
  font-size: 1.5vmax;
}

/*RESEARCH */
/* line 1156, ../sass/global.sass */
#frame-301 .bg-base {
  background-image: url(../pics/research-bg.png);
}

/* line 1160, ../sass/global.sass */
#frame-301 .question-1 {
  background-image: url(../pics/research-question-1.png);
}

/* line 1164, ../sass/global.sass */
#frame-301 .answer {
  background-image: url(../pics/research-atoms.png);
}

/* line 1168, ../sass/global.sass */
#frame-301 .check-button {
  left: 80.8%;
  top: 85%;
  width: 15.2%;
  height: 11.5%;
  background-color: #b7dae7;
  font-size: 2vmax;
  color: black;
  padding: 1.5%;
  border-radius: 10px;
}

/* line 1178, ../sass/global.sass */
#frame-301 .check-button:hover {
  background-color: black;
  color: white;
}

/* line 1182, ../sass/global.sass */
#frame-301 .back-button {
  left: 80.8%;
  top: 70%;
  width: 15.2%;
  height: 11.5%;
  background-color: #b7dae7;
  font-size: 2vmax;
  color: black;
  padding: 1.5%;
  border-radius: 10px;
}

/* line 1192, ../sass/global.sass */
#frame-301 .back-button:hover {
  background-color: black;
  color: white;
}
